{% extends "base.html" %}
{% load static i18n %}


{% block content %}

    <h1>{{title}}</h1>

    <div class="datatable_block">
        <table id="datatable" class="ui small fixed table dataTable no-footer" cellspacing="0" width="100%"></table>
        <div id="extra_footer" style="color: blue;"></div>
    </div>

{% endblock content %}


{% block extrajs %}
    {{ block.super }}

    <script language="javascript">

        $(document).ready(function() {
            initialize_datatable($('#datatable'), "");
        });

        function initialize_datatable(element, url) {

            $.ajax({
                type: 'GET',
                url: url + '?action=initialize',
                dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {

                //console.log('render data: %o', data);
                //var parent = element.parent();

                //element.html(data.html);
                //console.log(data.html);
                console.log('initialization data: %o', data);

                // https://datatables.net/manual/api#Accessing-the-API
                // It is important to note the difference between:
                //    - $(selector).DataTable(): returns a DataTables API instance
                //    - $(selector).dataTable(): returns a jQuery object
                // An api() method is added to the jQuery object so you can easily access the API,
                // but the jQuery object can be useful for manipulating the table node,
                // as you would with any other jQuery instance (such as using addClass(), etc.).

                var table = element.dataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "lengthMenu": data.length_menu,
                    //"lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                    "autoWidth": true,
                    "dom": '<"toolbar">lrftip',
                    /*
                    "language": {
                        "decimal":        "",
                        "emptyTable":     "Nessun dato disponibile per la tabella",
                        "info":           "Visualizzate da _START_ a _END_ di _TOTAL_ entries",
                        "infoEmpty":      "Visualizzate da 0 a 0 di 0 entries",
                        "infoFiltered":   "(filtered from _MAX_ total entries)",
                        "infoPostFix":    "",
                        "thousands":      ",",
                        "lengthMenu":     "Visualizza _MENU_ righe per pagina",
                        "loadingRecords": "Caricamento in corso ...",
                        "processing":     "Elaborazione in corso ...",
                        "search":         "Cerca:",
                        "zeroRecords":    "Nessun record trovato",
                        "paginate": {
                            "first":      "Prima",
                            "last":       "Ultima",
                            "next":       "Prossima",
                            "previous":   "Precedente"
                        },
                        "aria": {
                            "sortAscending":  ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                    },
                    */
                    /*
                    "ajax": {
                        "url": url,
                        "type": "GET",
                        "data": function (d) {
                            // var date_from = $('#date_from').data().date;
                            // var date_to = $('#date_to').data().date;
                            // if (date_from) {
                            //     d.date_from = format_date_to_isoformat(date_from);
                            // }
                            // if (date_to) {
                            //     d.date_to = format_date_to_isoformat(date_to);
                            // }
                            d.date_from = $('#date_from').val();
                            d.date_to = $('#date_to').val();
                            console.log('d: %o', d);
                        }
                    },
                    */
                    "ajax": function(data, callback, settings) {
                          data.date_from = $('#date_from').val();
                          data.date_to = $('#date_to').val();
                          // data.date_from = $('#date_from').data("datepicker") ? $('#date_from').data("datepicker").getFormattedDate("yyyy-mm-dd") : '';
                          // data.date_to = $('#date_to').data("datepicker") ? $('#date_to').data("datepicker").getFormattedDate("yyyy-mm-dd") : '';
                          console.log("data tx: %o", data);
                          $.ajax({
                              type: 'POST',
                              url: url,
                              data: data,
                              cache: false,
                              crossDomain: false,
                              headers: {'X-CSRFToken': getCookie('csrftoken')}
                          }).done(function(data, textStatus, jqXHR) {
                              console.log('data rx: %o', data);
                              callback(data);
                          }).fail(function(jqXHR, textStatus, errorThrown) {
                              console.log('ERROR: ' + jqXHR.responseText);
                          });
                    },
                    "columns": data.columns,
                    "order": data.order,
                    "drawCallback": function(settings) {
                        console.log('redraw table');
                        // setTimeout(function () {
                        //     DatatablesViewUtils.adjust_table_columns();
                        // }, 200);
                    },
                    "initComplete": function() {
                        console.log('initComplete');
                        setTimeout(function() {
                            DatatablesViewUtils.adjust_table_columns();
                        }, 200);
                    },
                    "footerCallback": function (row, data, start, end, display) {
                        var footer_callback_message = this.api().ajax.json().footer_callback_message;
                        if (footer_callback_message) {
                            $('#extra_footer').html(footer_callback_message);
                        }
                    }
                });


                var wrapper = table.closest('.dataTables_wrapper');
                if (data.show_date_filters) {
                    wrapper.find(".toolbar").html(
                        'From: <input type="date" id="date_from" class="datepicker">' +
                        'To: <input type="date" id="date_to" class="datepicker">'
                    );
                    $('#date_from, #date_to').on('change', function(event) {
                        table.api().draw();
                    });
                }

                DatatablesViewUtils.after_initialization(table, data, url);
            });
        };

            {% comment %}

            // Apply the search
            // https://datatables.net/examples/api/multi_filter.html
            table.columns().every(function () {
                var that = this;
                $('input', this.header())
                    .on('keyup change', function() {
                        if (that.search() !== this.value) {
                            that.search( this.value ).draw();
                        }
                    })
                    // .off('click')
                    // .on('click', function(event) {
                    //     event.preventDefault();
                    //     console.log('click');
                    // });
            });

            $('#btn-export').on('click', function(event) {
                var params = table.ajax.params();
                params.export = 1;
                //alert(params);

                $.ajax({
                    type: "GET",
                    url: "",
                    data: params
                    // cache: false,
                    // crossDomain: false,
                    // dataType: 'json',
                    // headers: {"X-CSRFToken": getCookie('csrftoken')}
                }).done(function(data) {
                    alert(data.task_id);
                    console.log('data=%o', data);
                }).fail(function(jqXHR, textStatus) {
                    alert('FAILURE: %o', jqXHR);
                    console.log('FAILURE: %o', jqXHR);
                });
            });

        } );
            {% endcomment %}

    </script>
{% endblock %}


